*{
    margin: 0;
    padding: 0;
}
.containerall{width: 100%;
margin-left: 10px;}
.navbar{width: 98.4%;
margin-right: 25px;}


.row{height: 400px;
    margin-bottom: 100px;

    width: 100%;
    
}
  .homeimages{ height: 400px;
    width: 100%;
}  
.centered {
    color:white;
    position: absolute;
  bottom: 50px;
  right: 300px;
  }
  
.card{margin-top: 50px;}
.card-body{margin-right: 10px;
padding: 5px;}
.cardimage{
    height:250px;

}
#experience{
    margin-top: 100px;
    text-align: center;}
#findexh2{
    background-color:brown;
    color:white;
    margin-top: 10px;
    padding: 2px;
    text-align: center;
    border: 1px solid black;
    width: 450px;
    margin-left: 35%;
}

.container2{
    background-color: black;
    padding: 5px;
    margin-bottom: 100px;
}
#toph2{color: beige;
text-align: center;}
.phimg{width: 250px;}

#connect{
    text-align: center;
}
.container3{margin-left: 70px;
    padding-left: 270px;
align-items: center;
margin-bottom: 4px;}
.container3.img{width: 50px;}
#face{
    width: 130px;
    height: 130px;
}
  