*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/sky1.jpeg);
    background-size: cover;
    background-position: fixed;
}
#image1{align-items: center;
    height: 150px;
    width: 200px;
    animation: forwards;
   
    margin-bottom: 2px;
}
body{background-color: black;}
.col{background-color: black;}
.formlog{background-color: beige;}
#subut{
    width:100%   
   }
   #create{
    height: 30px;
    width: 60px;
    
    padding-right: 30px;
   }