*{
    margin: 0;
    padding: 0;
}
body{background-image:url(../images/kathakali.jpg);
    background-size: cover;
}
.textall{ font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.text{
    list-style-type: square;}
.formlog{
    background-color: beige;
    border: 2px red solid;
    width:85%
    
}
#logbut{
 width:100%   
}